body {
    margin: 0;
    padding: 0;
    background: #fffbf4;
}
.home{
    padding: 30px;
    max-width: 100vw;
}
.hero{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    border-radius: 20px;
}
.hero_img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.hero_text{
    position: absolute;
    font-family: "Didot", "Playfair Display", serif;
    letter-spacing: 2px;
    font-weight: 400;
    bottom: 5%;
    text-align: center;
    text-shadow: 
    0 4px 15px rgba(0,0,0,0.15),
    0 8px 30px rgba(0,0,0,0.1);
    color: #fffbf2;
    z-index: 10;
    font-size: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.heading{
    padding: 40px 0;
}
h3{
    
    font-size: 50px;
    font-family: "Didot", "Playfair Display", serif;
    text-shadow: 
    0 4px 15px rgba(0,0,0,0.15),
    0 8px 30px rgba(0,0,0,0.1);
    color: #1E1A16;
    text-align: center;
}
h4{
    font-size: 20px;
    text-shadow: 
    0 4px 15px rgba(0,0,0,0.15),
    0 8px 30px rgba(0,0,0,0.1);
    color: #1E1A16;
    text-align: center;
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.categories_item{
    background-color: #f6f6f6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.categories_name{
    text-align: center;
    margin-top: 16px;
}
.trendy_collections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.collection_item{
    background-color: #f6f6f6;
    width: 300px;
    height: 300px;
}
.flower{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.end {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    padding: 120px 140px;
}

.end div {
    flex: 1;
}

.end img {
    width: 100%;
    max-width: 500px;
    border-radius: 18px;
    object-fit: cover;
    height: 500px;
}
.end h3 {
    font-size: 55px;
    line-height: 1.2;
    text-align: left;
}
.end p {
    font-size: 20px;
    margin-top: 20px;
    color: #6e6560;
}
.collection_name{
    margin-top: 20px;
    margin-bottom: 0;
}
.collection_price{
    margin-top: 0;
    padding: 0;
}



/* products page */

.products{
    width: 100%;
    height: 300px;
    background-image: url('wishlist.png') ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.products img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.price-range{
    width: 250px;
    margin-top: -10px;
}

.range-input{
    width: 100%;
    -webkit-appearance: none;
    height: 4px;
    background: #c5a880;
    border-radius: 5px;
    outline: none;
}

.range-input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #1E1A16;
    border-radius: 50%;
    cursor: pointer;
}

.price-labels{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 14px;
    color: #666;
    font-family: serif;
}
.product-grid{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 25px;
padding: 10px 20px;
}

.product-card{
background: transparent;
}

.product-card img{
width: 100%;
height: 220px;
object-fit: cover;
border-radius: 6px;
}

.product-card h4{
margin-top: 14px;
font-size: 18px;
font-family: serif;
}

.product-card p{
color: #444;
font-size: 15px;
}


/* aboutus */

.aboutus_hero{
    background-image: url("/static/images/aboutus.jpg");
    height: 80vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.images_container{
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-evenly;
}
.images{
    width: 400px;
    height: 400px;
}
.images img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.left_abtus{
    width: 40%;
    height: 80vh;
    position: relative;
}
.right_abtus{
    width: 50%;
    height: 60vh;
}

.contactus_heading{
    font-size: 30px;
    font-weight: 100;

}

.contact{
    padding: 60px 150px;
}
.form{
    display: flex;
    flex-direction: row;
    height: 700px;
    margin-top: 60px;
    padding: 60px 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.form_left{
    width: 50%;
}
.form_right{
    width: 50%;
}
.details{
    margin-left: 30px;
    color: #4a4a4a;
    font-weight: 200;
}
.icon{
    color: #b88f5f;
}
.map{
    margin-top: 60px;
    width: 100%;
}
label{
    color: rgb(129, 129, 129);
    font-weight: 200;

}
input{
    width: 90%;
    height: 40px;
    border: 1px solid rgb(170, 170, 170);
    background-color: transparent;
}
textarea{
    max-height: 400px;
    height: 220px;
    border: 1px solid rgb(170, 170, 170);
    width: 90%;
    background-color: transparent;
}
button{
    border: 1px solid black;
    width: 90%;
    height: 40px;
    background-color: transparent;
}